@font-face{
    font-family: 'MyFont';
    src: url('Fonts/Roundex.otf') format('truetype');
}

body{

    font-family: 'MyFont', Arial, sans-serif;
    background-color: #2a2f33;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin-left: 5px;
    color: white;
    
}

.tenna{
    transform: rotate(90);
}

 
.botao{
    background-color: rgb(69, 103, 134);
    color: white;
    padding: 6px;
    border: outset;
    border-color: rgb(128, 128, 128);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}